/* blue  and green site  */
body{
  background: #f7fcfc;
  /* background-image: url(./pattern.jpg); */
}
.navBarColor{
  color: 00bc83 !important;
  background-color: #3b9c99;
}
.footerColor{
  color: #fff !important;
  background-color: #004760;
}
.headingColor{
  background: #3b9c99 !important;
}
.buttonColor{
  color: white !important;
  background-color: #3b9c99 !important;
}
.buttonColor:disabled{
  background-color: #ccc !important; /*don't change it*/

}
.hyperLinkColor{
  color:#00bc83 !important;
}
.hr{
    border-bottom:0;
    border-top:2px solid #00bc83; /* #03a9f4;*/
    margin:0 25px;
}
/*****  input colors  *****/
  /* label color */
  .input-field label {
    color: #999 !important; /*don't change it*/
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #00bc83 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    color:#00bc83 !important;
    border-bottom: 1px solid #00bc83 !important;
    box-shadow: 0 1px 0 0 #00bc83 !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #00bc83 !important;
    box-shadow: 0 1px 0 0 #00bc83 !important;
  }
  .input-field textarea:focus{
    border-bottom: 1px solid #00bc83 !important;
    box-shadow: 0 1px 0 0 #00bc83 !important;
  }
  .input-field textarea:focus + label{
    color: #00bc83 !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red !important; /*don't change it*/
    box-shadow: 0 1px 0 0 red !important; /*don't change it*/
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #00bc83 !important;
  /*check boxes*/
  }
  input[type="checkbox"]:checked + label::before {
    border-right: 2px solid #00bc83;
    border-bottom: 2px solid #00bc83;
  }
  /* select inputs */
  .MuiInput-underline-94:before{
    border-bottom: 1px solid #999 !important; /*don't change it*/
  }
  .MuiInput-underline-65::after ,.MuiInput-underline-94::after {
    border-bottom: 2px solid #00bc83 !important;
  }
/**************************/
